html {
  background: url(https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/10697176_925723294107677_6971647611964224_o.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Source Sans Pro', font-family: 'Source Sans Pro', sans-serif;
  margin: auto;
  text-align: center;
  max-width: 60%;
  border-style: solid;
  border-width: 2px;
  padding: 0 15px;
  border-top-style: none;
  border-bottom-style: none;
  background-color: white;
}
li {
  list-style: none;
}
/*********************************
    HEADER
**********************************/
header {
  height: 110px;
  background-color: #36454f;
  color: #36C6FF;
}

#profile-photo {
  max-width: 100%;
  max-height: 100%;
  float: left;
}

#banner-label {
  float: right;
  vertical-align: middle;
  padding-right: 10%;
}
/*********************************
    NAV
**********************************/
nav {
  clear: both;
  height: 40px;
  width: 100%;
  background-color: #22A7F0;
  color: white;
  margin-top: -30px;
}

nav ul li {
  display: inline;
  float: right;
  padding: 10px;
}
/*********************************
    Blog Subheadings
**********************************/
#blog-title {
  float: left;
  width: 50%;
  font-weight: bold;
  font-size: 1.2em;
}
#date-div {
  float: right;
  width: 50%;
  font-weight: bold;
  font-size: 1.2em;
}

/*********************************
    SECTION - ASSIGNMENTS
**********************************/
#assignments {
  clear: both;
  float: left;
}
#assignments ul li {
  padding: 5%;
}

#margin-photo {
  max-width: 20%;
  max-height: 20%;
}
/*********************************
    SECTION - Blog Content
**********************************/
#main p {
  text-align: left;
}

/*********************************
    FOOTER
**********************************/
footer {
  clear: both;
}

/*********************************
    Specific Blogs - Margin
**********************************/
#padding-photo {
  max-width: 60%;
}
/*********************************
    Specific Blogs - Enumerable#map
**********************************/
#mapped-image {
  max-width: 60%;
}

#stack-image {
  max-width: 60%;
}

.centered {
  max-width: 60%;
}